@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    background: url('../img/bg.jpg') center/cover, linear-gradient(to left, #2196f3, #009688);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
}

header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
    color: white;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}

header .navigation a{
    color: white;    
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;
}

header .navigation a:not(:last-child){
    margin-right: 30px;
}

header .navigation a:hover{
    color: black;
    background: white;
}

.content{
    max-width: 650px;
    margin: 60px 100px;
}

.content .info h2{
    color: rgb(0, 195, 255);
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}

.content .info h2 span{
    color: rgb(1, 135, 218);
    font-size: 50px;
    font-weight: 600;
}

.content .info h3{
    color: white;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
}

.content .info h3 span{
    color: rgb(26, 224, 238);
}

.media-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.media-icons a{
    position: relative;
    color: white;
    font-size: 40px;
    transition: 0.3s;
    transition-property: transform;
}

.media-icons a:not(:last-child){
    margin-right: 60px;
}

.media-icons a:hover{
    transform: scale(1.5);
}

label{
    display: none;
    color: white;
}

#check{
    z-index: 3;
    display: none;
}

/* Estilo Responsivo */
@media (max-width: 960px){
    header .navigation{
        display: none;
    }

    label{
        display: block;
        font-size: 25px;
        cursor: pointer;
        transition: 0.3s;
        transition-property: color;
    }

    label:hover{
        color: bisque;
    }

    label .close-btn{
        display: none;
    }

    #check:checked ~ header .navigation{
        z-index: 2;
        position: fixed;
        background: rgba(12, 80, 123, 0.8);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #check:checked ~ header .navigation a{
        font-weight: 700;
        margin-right: 0;
        margin-bottom: 50px;
        letter-spacing: 2px;
    }

    #check:checked ~ header label .menu-btn{
        display: none;
    }

    #check:checked ~ header label .close-btn{
        z-index: 2;
        display: block;
        position: fixed;
    }

    label .menu-btn{
        position: absolute;
    }

    header .logo{
        position: absolute;
        bottom: -6px;
    }

    .content .info h2{
        font-size: 45px;
        line-height: 50px;
    }

    .content .info h2 span{
        font-size: 40px;
        font-weight: 600;
    }

    .content .info p{
        font-size: 14px;
    }
}

@media (max-width: 560px){
    .content .info h2{
        font-size: 35px;
        line-height: 50px;
    }

    .content .info h2 span{
        font-size: 30px;
        font-weight: 600;
    }

    .content .info p{
        font-size: 14px;
    }
}

.tituloContacto{
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
    text-align: center;
}

.container{
    margin-top: 40px;
}

.row{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.col-md-7{
    padding: 20px;
}
.col-md-5{
    background-color: rgba(8, 156, 249, 0.4);
    padding: 20px;
    color: white;
}
.form-control{
    height: 52px;
    background: #fff;
    color: #000;
    font-size: 14px;
    border-radius: 2px;
    box-sizing: none! important;
    border: 1px solid rgba(0, 0, 0, 0.1)
}
.bi{
    font-size: 20px;
}
.d-flex p{
    font-size: 20px;
    padding-left: 18px;
}

#map {
    height: 430px;
    margin: 20px 50px ;
}

.tituloMapa{
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 800px;
    letter-spacing: 2px;
    line-height: 60px;
    text-align: center;
}


.hi-slide{
    position: relative;
    width: 754px;
    height: 292px;
    border-radius: 50px;
    margin: 35px auto 0;
}

.hi-slide .hi-next,
.hi-slide .hi-prev{
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: white;
    color: black;
    transition: all 0.7s;
    font-size: 20px;
    font-weight: bold;
}

.hi-slide .hi-next:hover,
.hi-slide .hi-prev:hover{
    opacity: 1;
    background-color: white;
}

.hi-slide .hi-prev{ 
    left: 59px;
}

.hi-slide .hi-prev::before{
    content: '<';
}

.hi-slide .hi-next{
    right: -59px;
}

.hi-slide .hi-next::before{
    content: '>';
}

.hi-slide > ul{
    list-style: none;
    position: relative;
    width: 754px;
    height: 292px;
    margin: 0;
    padding: 0;
}

.hi-slide > ul > li{
    overflow: hidden;
    position: absolute;
    z-index: 0;
    left: 377px;
    top: 147px;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 3px solid white;
    cursor: pointer;
    background-color: #333;
}

.hi-slide > ul > li >img{
    width: 100%;
    height: 100%;
    background-position: center;
}

.tituloGaleria{
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 800px;
    letter-spacing: 2px;
    line-height: 60px;
    text-align: center;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 1rem;
    z-index: 1000;
}